@font-face {
  font-family: 'Madness';
  src:  url('fonts/Madness.eot?h1ekne');
  src:  url('fonts/Madness.eot?h1ekne#iefix') format('embedded-opentype'),
    url('fonts/Madness.ttf?h1ekne') format('truetype'),
    url('fonts/Madness.woff?h1ekne') format('woff'),
    url('fonts/Madness.svg?h1ekne#Madness') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mad-"], [class*=" mad-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Madness' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mad-lock-1-svgrepo-com:before {
  content: "\ea996";
}
.mad-restart-square-svgrepo-com:before {
  content: "\ea995";
  color: #1c274c;
}
.mad-restart-circle-svgrepo-com:before {
  content: "\ea994";
  color: #1c274c;
}
.mad-power-svgrepo-com:before {
  content: "\ea993";
}
.mad-pin-circle-svgrepo-com:before {
  content: "\ea992";
  color: #1c274c;
}
.mad-logout-2-svgrepo-com:before {
  content: "\ea991";
  color: #1c274c;
}
.mad-key-minimalistic-square-svgrepo-com:before {
  content: "\ea990";
  color: #1c274c;
}
.mad-cloudy-moon-svgrepo-com:before {
  content: "\ea989";
  color: #1c274c;
}
.mad-cloud-waterdrop-svgrepo-com:before {
  content: "\ea988";
  color: #1c274c;
}
.mad-cloud-svgrepo-com:before {
  content: "\ea987";
  color: #1c274c;
}
.mad-cloud-sun-svgrepo-com:before {
  content: "\ea986";
  color: #1c274c;
}
.mad-cloud-sun-2-svgrepo-com:before {
  content: "\ea985";
  color: #1c274c;
}
.mad-cloud-storm-svgrepo-com:before {
  content: "\ea984";
  color: #1c274c;
}
.mad-cloud-storage-svgrepo-com:before {
  content: "\ea983";
  color: #1c274c;
}
.mad-clouds-svgrepo-com:before {
  content: "\ea982";
  color: #1c274c;
}
.mad-cloud-snowfall-svgrepo-com:before {
  content: "\ea981";
  color: #1c274c;
}
.mad-cloud-snowfall-minimalistic-svgrepo-com:before {
  content: "\ea980";
  color: #1c274c;
}
.mad-cloud-rain-svgrepo-com:before {
  content: "\ea979";
  color: #1c274c;
}
.mad-cloud-bolt-svgrepo-com:before {
  content: "\ea978";
  color: #1c274c;
}
.mad-bolt-circle-svgrepo-com:before {
  content: "\ea977";
  color: #1c274c;
}
.mad-clock1:before {
  content: "\ea976";
  color: #fff;
}
.mad-spotify:before {
  content: "\ea975";
}
.mad-linux:before {
  content: "\ea974";
}
.mad-globe:before {
  content: "\ea973";
}
.mad-gitlab:before {
  content: "\ea972";
}
.mad-github2:before {
  content: "\ea969";
}
.mad-dev2:before {
  content: "\ea971";
}
.mad-android:before {
  content: "\ea970";
}
.mad-github:before {
  content: "\ea968";
}
.mad-electricity:before {
  content: "\ea967";
  color: #fff;
}
.mad-box-time:before {
  content: "\ea966";
  color: #fff;
}
.mad-box-tick:before {
  content: "\ea965";
  color: #fff;
}
.mad-moon:before {
  content: "\ea964";
  color: #fff;
}
.mad-wifi:before {
  content: "\ea900";
}
.mad-speaker-3:before {
  content: "\ea901";
}
.mad-smart-home:before {
  content: "\ea902";
  color: #fff;
}
.mad-music-square:before {
  content: "\ea903";
  color: #fff;
}
.mad-message-programming:before {
  content: "\ea904";
  color: #fff;
}
.mad-home-wifi:before {
  content: "\ea905";
  color: #fff;
}
.mad-home:before {
  content: "\ea906";
  color: #fff;
}
.mad-folder-cloud:before {
  content: "\ea907";
  color: #fff;
}
.mad-folder-2:before {
  content: "\ea908";
  color: #fff;
}
.mad-emoji-happy:before {
  content: "\ea909";
  color: #fff;
}
.mad-electricity1:before {
  content: "\ea90a";
  color: #fff;
}
.mad-document-code-2:before {
  content: "\ea90b";
  color: #fff;
}
.mad-danger:before {
  content: "\ea90c";
  color: #fff;
}
.mad-code:before {
  content: "\ea90d";
  color: #fff;
}
.mad-cloud-add:before {
  content: "\ea90e";
  color: #fff;
}
.mad-audio-square:before {
  content: "\ea90f";
  color: #fff;
}
.mad-arrange-square-2:before {
  content: "\ea910";
  color: #fff;
}
.mad-volume-slash:before {
  content: "\ea911";
  color: #fff;
}
.mad-volume-high:before {
  content: "\ea912";
  color: #fff;
}
.mad-flash-slash:before {
  content: "\ea913";
  color: #fff;
}
.mad-cpu:before {
  content: "\ea914";
  color: #fff;
}
.mad-chrome:before {
  content: "\ea915";
  color: #fff;
}
.mad-Arrow---Right-2:before {
  content: "\ea916";
  color: #fff;
}
.mad-Arrow---Left-2:before {
  content: "\ea917";
  color: #fff;
}
.mad-toggle-on-circle:before {
  content: "\ea918";
  color: #fff;
}
.mad-toggle-on:before {
  content: "\ea919";
  color: #fff;
}
.mad-toggle-off-circle:before {
  content: "\ea91a";
  color: #fff;
}
.mad-toggle-off:before {
  content: "\ea91b";
  color: #fff;
}
.mad-shield-tick:before {
  content: "\ea91c";
  color: #fff;
}
.mad-setting-3:before {
  content: "\ea91d";
  color: #fff;
}
.mad-search-normal:before {
  content: "\ea91e";
  color: #fff;
}
.mad-ram-2:before {
  content: "\ea91f";
  color: #fff;
}
.mad-main-component:before {
  content: "\ea920";
  color: #fff;
}
.mad-hashtag-up:before {
  content: "\ea921";
  color: #fff;
}
.mad-driver:before {
  content: "\ea922";
  color: #fff;
}
.mad-category:before {
  content: "\ea923";
  color: #fff;
}
.mad-bucket-square:before {
  content: "\ea924";
  color: #fff;
}
.mad-airpods:before {
  content: "\ea925";
  color: #fff;
}
.mad-volume-low:before {
  content: "\ea926";
  color: #fff;
}
.mad-video:before {
  content: "\ea927";
  color: #fff;
}
.mad-timer:before {
  content: "\ea928";
  color: #fff;
}
.mad-task-square:before {
  content: "\ea929";
  color: #fff;
}
.mad-sun:before {
  content: "\ea92a";
  color: #fff;
}
.mad-stop-circle:before {
  content: "\ea92b";
  color: #fff;
}
.mad-speaker:before {
  content: "\ea92c";
  color: #fff;
}
.mad-sms-star:before {
  content: "\ea92d";
  color: #fff;
}
.mad-sms-notification:before {
  content: "\ea92e";
  color: #fff;
}
.mad-sms:before {
  content: "\ea92f";
  color: #fff;
}
.mad-record-circle:before {
  content: "\ea930";
  color: #fff;
}
.mad-receive-square:before {
  content: "\ea931";
  color: #fff;
}
.mad-ram:before {
  content: "\ea932";
  color: #fff;
}
.mad-profile-tick:before {
  content: "\ea933";
  color: #fff;
}
.mad-printer:before {
  content: "\ea934";
  color: #fff;
}
.mad-previous:before {
  content: "\ea935";
  color: #fff;
}
.mad-play-circle:before {
  content: "\ea936";
  color: #fff;
}
.mad-pause-circle:before {
  content: "\ea937";
  color: #fff;
}
.mad-notification:before {
  content: "\ea938";
  color: #fff;
}
.mad-note-square1:before {
  content: "\ea939";
  color: #fff;
}
.mad-note-favorite:before {
  content: "\ea93a";
  color: #fff;
}
.mad-next:before {
  content: "\ea93b";
  color: #fff;
}
.mad-mouse:before {
  content: "\ea93c";
  color: #fff;
}
.mad-moon1:before {
  content: "\ea93d";
  color: #fff;
}
.mad-monitor:before {
  content: "\ea93e";
  color: #fff;
}
.mad-microphone-2:before {
  content: "\ea93f";
  color: #fff;
}
.mad-microphone:before {
  content: "\ea940";
  color: #fff;
}
.mad-location:before {
  content: "\ea941";
  color: #fff;
}
.mad-key:before {
  content: "\ea942";
  color: #fff;
}
.mad-instagram:before {
  content: "\ea943";
  color: #fff;
}
.mad-home-2:before {
  content: "\ea944";
  color: #fff;
}
.mad-hierarchy-square:before {
  content: "\ea945";
  color: #fff;
}
.mad-headphone:before {
  content: "\ea946";
  color: #fff;
}
.mad-forward:before {
  content: "\ea947";
  color: #fff;
}
.mad-flash:before {
  content: "\ea948";
  color: #fff;
}
.mad-driver-refresh:before {
  content: "\ea949";
  color: #fff;
}
.mad-cpu-setting:before {
  content: "\ea94a";
  color: #fff;
}
.mad-cpu-charge:before {
  content: "\ea94b";
  color: #fff;
}
.mad-code1:before {
  content: "\ea94c";
  color: #fff;
}
.mad-cloud-sunny:before {
  content: "\ea94d";
  color: #fff;
}
.mad-cloud-notif:before {
  content: "\ea94e";
  color: #fff;
}
.mad-cloud:before {
  content: "\ea94f";
  color: #fff;
}
.mad-clock:before {
  content: "\ea950";
  color: #fff;
}
.mad-chart-2:before {
  content: "\ea951";
  color: #fff;
}
.mad-category1:before {
  content: "\ea952";
  color: #fff;
}
.mad-calendar-2:before {
  content: "\ea953";
  color: #fff;
}
.mad-box:before {
  content: "\ea954";
  color: #fff;
}
.mad-bluetooth-2:before {
  content: "\ea955";
  color: #fff;
}
.mad-battery:before {
  content: "\ea956";
  color: #fff;
}
.mad-battery-charging:before {
  content: "\ea957";
  color: #fff;
}
.mad-backward:before {
  content: "\ea958";
  color: #fff;
}
.mad-arrow-left:before {
  content: "\ea959";
  color: #fff;
}
.mad-activity:before {
  content: "\ea95a";
  color: #fff;
}
.mad-tick-circle:before {
  content: "\ea95b";
  color: #fff;
}
.mad-arrow-right:before {
  content: "\ea95c";
  color: #fff;
}
.mad-battery-10:before {
  content: "\ea95d";
  color: #fff;
}
.mad-battery-50:before {
  content: "\ea95e";
  color: #fff;
}
.mad-battery-full:before {
  content: "\ea95f";
  color: #fff;
}
.mad-battery-disable:before {
  content: "\ea960";
  color: #fff;
}
.mad-grid-2:before {
  content: "\ea961";
  color: #fff;
}
.mad-scroll:before {
  content: "\ea962";
  color: #fff;
}
.mad-send:before {
  content: "\ea963";
}
