$icomoon-font-family: "Madness" !default;
$icomoon-font-path: "fonts" !default;

$mad-lock-1-svgrepo-com: "\ea996";
$mad-restart-square-svgrepo-com: "\ea995";
$mad-restart-circle-svgrepo-com: "\ea994";
$mad-power-svgrepo-com: "\ea993";
$mad-pin-circle-svgrepo-com: "\ea992";
$mad-logout-2-svgrepo-com: "\ea991";
$mad-key-minimalistic-square-svgrepo-com: "\ea990";
$mad-cloudy-moon-svgrepo-com: "\ea989";
$mad-cloud-waterdrop-svgrepo-com: "\ea988";
$mad-cloud-svgrepo-com: "\ea987";
$mad-cloud-sun-svgrepo-com: "\ea986";
$mad-cloud-sun-2-svgrepo-com: "\ea985";
$mad-cloud-storm-svgrepo-com: "\ea984";
$mad-cloud-storage-svgrepo-com: "\ea983";
$mad-clouds-svgrepo-com: "\ea982";
$mad-cloud-snowfall-svgrepo-com: "\ea981";
$mad-cloud-snowfall-minimalistic-svgrepo-com: "\ea980";
$mad-cloud-rain-svgrepo-com: "\ea979";
$mad-cloud-bolt-svgrepo-com: "\ea978";
$mad-bolt-circle-svgrepo-com: "\ea977";
$mad-clock1: "\ea976";
$mad-spotify: "\ea975";
$mad-linux: "\ea974";
$mad-globe: "\ea973";
$mad-gitlab: "\ea972";
$mad-github2: "\ea969";
$mad-dev2: "\ea971";
$mad-android: "\ea970";
$mad-github: "\ea968";
$mad-electricity: "\ea967";
$mad-box-time: "\ea966";
$mad-box-tick: "\ea965";
$mad-moon: "\ea964";
$mad-wifi: "\ea900";
$mad-speaker-3: "\ea901";
$mad-smart-home: "\ea902";
$mad-music-square: "\ea903";
$mad-message-programming: "\ea904";
$mad-home-wifi: "\ea905";
$mad-home: "\ea906";
$mad-folder-cloud: "\ea907";
$mad-folder-2: "\ea908";
$mad-emoji-happy: "\ea909";
$mad-electricity1: "\ea90a";
$mad-document-code-2: "\ea90b";
$mad-danger: "\ea90c";
$mad-code: "\ea90d";
$mad-cloud-add: "\ea90e";
$mad-audio-square: "\ea90f";
$mad-arrange-square-2: "\ea910";
$mad-volume-slash: "\ea911";
$mad-volume-high: "\ea912";
$mad-flash-slash: "\ea913";
$mad-cpu: "\ea914";
$mad-chrome: "\ea915";
$mad-Arrow---Right-2: "\ea916";
$mad-Arrow---Left-2: "\ea917";
$mad-toggle-on-circle: "\ea918";
$mad-toggle-on: "\ea919";
$mad-toggle-off-circle: "\ea91a";
$mad-toggle-off: "\ea91b";
$mad-shield-tick: "\ea91c";
$mad-setting-3: "\ea91d";
$mad-search-normal: "\ea91e";
$mad-ram-2: "\ea91f";
$mad-main-component: "\ea920";
$mad-hashtag-up: "\ea921";
$mad-driver: "\ea922";
$mad-category: "\ea923";
$mad-bucket-square: "\ea924";
$mad-airpods: "\ea925";
$mad-volume-low: "\ea926";
$mad-video: "\ea927";
$mad-timer: "\ea928";
$mad-task-square: "\ea929";
$mad-sun: "\ea92a";
$mad-stop-circle: "\ea92b";
$mad-speaker: "\ea92c";
$mad-sms-star: "\ea92d";
$mad-sms-notification: "\ea92e";
$mad-sms: "\ea92f";
$mad-record-circle: "\ea930";
$mad-receive-square: "\ea931";
$mad-ram: "\ea932";
$mad-profile-tick: "\ea933";
$mad-printer: "\ea934";
$mad-previous: "\ea935";
$mad-play-circle: "\ea936";
$mad-pause-circle: "\ea937";
$mad-notification: "\ea938";
$mad-note-square1: "\ea939";
$mad-note-favorite: "\ea93a";
$mad-next: "\ea93b";
$mad-mouse: "\ea93c";
$mad-moon1: "\ea93d";
$mad-monitor: "\ea93e";
$mad-microphone-2: "\ea93f";
$mad-microphone: "\ea940";
$mad-location: "\ea941";
$mad-key: "\ea942";
$mad-instagram: "\ea943";
$mad-home-2: "\ea944";
$mad-hierarchy-square: "\ea945";
$mad-headphone: "\ea946";
$mad-forward: "\ea947";
$mad-flash: "\ea948";
$mad-driver-refresh: "\ea949";
$mad-cpu-setting: "\ea94a";
$mad-cpu-charge: "\ea94b";
$mad-code1: "\ea94c";
$mad-cloud-sunny: "\ea94d";
$mad-cloud-notif: "\ea94e";
$mad-cloud: "\ea94f";
$mad-clock: "\ea950";
$mad-chart-2: "\ea951";
$mad-category1: "\ea952";
$mad-calendar-2: "\ea953";
$mad-box: "\ea954";
$mad-bluetooth-2: "\ea955";
$mad-battery: "\ea956";
$mad-battery-charging: "\ea957";
$mad-backward: "\ea958";
$mad-arrow-left: "\ea959";
$mad-activity: "\ea95a";
$mad-tick-circle: "\ea95b";
$mad-arrow-right: "\ea95c";
$mad-battery-10: "\ea95d";
$mad-battery-50: "\ea95e";
$mad-battery-full: "\ea95f";
$mad-battery-disable: "\ea960";
$mad-grid-2: "\ea961";
$mad-scroll: "\ea962";
$mad-send: "\ea963";

