@import "colors-waybar.css";

#pulseaudio,
#custom-pacman-update
{
  padding: 0 2px;
}

label#custom-pacman-update{
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 15px;
  padding-right: 4px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color : @background-alt;
}

label#custom-pacman-update.text{
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 4px;
  padding-right: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color : @background-alt;
}

label#pulseaudio{
  padding: 6px;
  margin-top: 6px;
  padding-left: 5px;
  padding-right: 4px;
  margin-bottom: 6px;
  background-color : @background-alt;
}

label#pulseaudio.text{
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 4px;
  padding-right: 15px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color : @background-alt;
}



label#memory
label#backlight,
label#network {
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 13px;
  background-color : @background;
}

#memory
#clock,
#battery,
#cpu,
#disk,
#temperature,
#backlight,
#network,
#mode,
#idle_inhibitor{
  padding: 0 10px;
  color: @foreground;
  background-color: @background;
}



  #window {
    margin: 0 4px;
    border-radius: 7.8px;
    background-color: @background;
  }
  
  #cpu {
    color: #fb958b;
    background-color: #bf616a;
  }
  


  /* If workspaces is the leftmost module, omit left margin */
  .modules-left > widget:first-child > #workspaces {
    margin-left: 0;
  }
  
  /* If workspaces is the rightmost module, omit right margin */
  .modules-right > widget:last-child > #workspaces {
    margin-right: 0;
  }