@import "colors-waybar.css";
@import "workspace.css";
@import "custom/dec.css";
@import "bar.css";
@import "general.css";
@import "stock.css";
@import "custom/launcher.css";
@import "custom/battery.css";
@import "custom/apptitle.css";
@import "custom/clock.css";


* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}


#memory {
  color: #ebcb8b;
}

#custom-pacman-update{
  font-size: 18px;
  color: @green;
}

#custom-pacman-update.text {
  font-size: 12px;
  color: @foreground;
  
}

#pulseaudio{
  font-size: 18px;
  color: #7d9bba;
}
#pulseaudio.text {
  font-size: 12px;
  color: @foreground;
}

#backlight {
  color: #8fbcbb;
}

#network {
  color: @foreground;
}

#network.disconnected {
  color: @secondary;
}