@import "../colors-waybar.css";

#custom-power,
#custom-reboot,
#custom-quit,
#custom-launcher {
  font-size: 16px;
  margin: 8px;
  color: @on-primary-container;
}

label#custom-launcher {
  padding-left: 5px;
  padding-right: 5px;
}

box#launcher {
  margin: 7px;
  border-radius: 10px;
  background-color: alpha(@primary-container,0.75);
}



