@import "../colors-waybar.css";

#custom-power,
#custom-reboot,
#custom-quit{
  font-size: 13px;
  margin: 5px;
  padding-left: 3px;
  padding-right: 3px;
  color: @on-primary-container;
}

#custom-launcher {
  font-size: 13px;
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
}


box#launcher {
  margin: 5px;
  border-radius: 8px;
  background-color: alpha(@primary-container,0.65);
}

box#launcher .horizontal {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
  background-color: alpha(@primary-container,0.98);
}



