@import "../colors-waybar.css";

#custom-pacman-update {
  font-size: 18px;
  color: @primary;
}

#custom-pacman-update.text {
  font-size: 12px;
  color: @on-background;
}

#pulseaudio {
  font-size: 18px;
  color: @tertiary;
}
#pulseaudio.text {
  font-size: 12px;
  color: @on-background;
}

label#battery,
label#battery.text,
label#custom-pacman-update,
label#custom-pacman-update.text,
label#pulseaudio,
label#pulseaudio.text {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: @secondary-container;
}

label#battery {
  padding-left: 15px;
  padding-right: 2px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

label#battery.text {
  padding-left: 3px;
  padding-right: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

label#custom-pacman-update {
  padding-left: 7px;
  padding-right: 4px;
}

label#custom-pacman-update.text {
  padding-left: 4px;
  padding-right: 5px;
}

label#pulseaudio {
  padding-left: 6px;
  padding-right: 4px;
}

label#pulseaudio.text {
  padding-left: 4px;
  padding-right: 15px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
