@import "../colors-waybar.css";

#custom-left,
#custom-right,
#custom-priv-mic,
#custom-priv-speaker {
  font-size: 13px;
  padding: 2px;
  color: @foreground;
  background-color: @background;
}

label#custom-left,
label#custom-right,
label#custom-priv-mic,
label#custom-priv-speaker {
  color: @background;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: @green;
}

label#custom-priv-speaker {
  padding-left: 5px;
  padding-right: 5px;
}

label#custom-priv-mic {
  padding-left: 5px;
  padding-right: 5px;
}

label#custom-left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

label#custom-right {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
