@import "../colors-waybar.css";


box#system-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: alpha(@secondary-container, 0.75);
    border-radius: 10px;
    /* border: 2px solid alpha(@secondary-container,0.95); */
}

#backlight,
#pulseaudio,
#custom-pacman-update,
#battery {
    margin-left: 2px;
    margin-right: 2px;
}


/*old-conf, needs change*/

#backlight,
#pulseaudio,
#custom-pacman-update {
    font-size: 13px;
    color: @primary;
}


#battery.text,
#backlight.text,
#pulseaudio.text,
#custom-pacman-update.text {
    font-size: 12px;
    font-weight: 800;
    margin-left: 3px;
    margin-right: 3px;
    color: @on-secondary-container;
}

#custom-pacman-update.uptodate.text {
    color: @green;
}
