 
@define-color primary #c1c1ff;
@define-color primary-container #3c3c8f;
@define-color on-primary #252477;
@define-color on-primary-container #e2dfff;
@define-color secondary #c6c4dd;
@define-color secondary-container #454559;
@define-color on-secondary #2f2f42;
@define-color on-secondary-container #e2e0f9;
@define-color tertiary #e9b9d3;
@define-color tertiary-container #5f3c51;
@define-color on-tertiary #46263a;
@define-color on-tertiary-container #ffd8eb;
@define-color error #ffb4ab;
@define-color error-container #93000a;
@define-color on-error #690005;
@define-color on-error-container #ffdad6;
@define-color outline #918f9a;
@define-color background #1c1b1f;
@define-color on-background #e5e1e6;
@define-color surface #131316;
@define-color on-surface #c8c5ca;
@define-color surface-variant #47464f;
@define-color on-surface-variant #c8c5d0;
@define-color inverse-surface #e5e1e6;
@define-color inverse-on-surface #1c1b1f;
@define-color inverse-primary #5555a9;
@define-color shadow #000000;
@define-color surface-tint #c1c1ff;
@define-color outline-variant #47464f;
@define-color scrim #000000;
@define-color green #a6da95;
@define-color red #ff6961;
