:root {
  --md-source: #1F1F30;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #040044;
  --md-ref-palette-primary5: #05004c;
  --md-ref-palette-primary6: #060053;
  --md-ref-palette-primary10: #0d0664;
  --md-ref-palette-primary12: #120d67;
  --md-ref-palette-primary17: #1e1c71;
  --md-ref-palette-primary20: #252477;
  --md-ref-palette-primary22: #2a297c;
  --md-ref-palette-primary24: #2e2e81;
  --md-ref-palette-primary25: #313083;
  --md-ref-palette-primary30: #3c3c8f;
  --md-ref-palette-primary35: #48499c;
  --md-ref-palette-primary40: #5555a9;
  --md-ref-palette-primary50: #6e6ec3;
  --md-ref-palette-primary60: #8788df;
  --md-ref-palette-primary70: #a2a3fc;
  --md-ref-palette-primary80: #c1c1ff;
  --md-ref-palette-primary87: #d8d6ff;
  --md-ref-palette-primary90: #e2dfff;
  --md-ref-palette-primary92: #e8e5ff;
  --md-ref-palette-primary94: #efecff;
  --md-ref-palette-primary95: #f2efff;
  --md-ref-palette-primary96: #f5f2ff;
  --md-ref-palette-primary98: #fcf8ff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #0c0c1e;
  --md-ref-palette-secondary5: #0f0f21;
  --md-ref-palette-secondary6: #111223;
  --md-ref-palette-secondary10: #1a1a2c;
  --md-ref-palette-secondary12: #1e1e30;
  --md-ref-palette-secondary17: #28283b;
  --md-ref-palette-secondary20: #2f2f42;
  --md-ref-palette-secondary22: #333346;
  --md-ref-palette-secondary24: #38374b;
  --md-ref-palette-secondary25: #3a3a4d;
  --md-ref-palette-secondary30: #454559;
  --md-ref-palette-secondary35: #515065;
  --md-ref-palette-secondary40: #5d5c72;
  --md-ref-palette-secondary50: #76758b;
  --md-ref-palette-secondary60: #908ea5;
  --md-ref-palette-secondary70: #aba9c1;
  --md-ref-palette-secondary80: #c6c4dd;
  --md-ref-palette-secondary87: #dad7f1;
  --md-ref-palette-secondary90: #e2e0f9;
  --md-ref-palette-secondary92: #e8e5ff;
  --md-ref-palette-secondary94: #efecff;
  --md-ref-palette-secondary95: #f2efff;
  --md-ref-palette-secondary96: #f5f2ff;
  --md-ref-palette-secondary98: #fcf8ff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #1f0416;
  --md-ref-palette-tertiary5: #220719;
  --md-ref-palette-tertiary6: #25091c;
  --md-ref-palette-tertiary10: #2f1124;
  --md-ref-palette-tertiary12: #331528;
  --md-ref-palette-tertiary17: #3f1f33;
  --md-ref-palette-tertiary20: #46263a;
  --md-ref-palette-tertiary22: #4b2a3e;
  --md-ref-palette-tertiary24: #502e43;
  --md-ref-palette-tertiary25: #533145;
  --md-ref-palette-tertiary30: #5f3c51;
  --md-ref-palette-tertiary35: #6c475d;
  --md-ref-palette-tertiary40: #795369;
  --md-ref-palette-tertiary50: #946b82;
  --md-ref-palette-tertiary60: #b0849c;
  --md-ref-palette-tertiary70: #cc9eb7;
  --md-ref-palette-tertiary80: #e9b9d3;
  --md-ref-palette-tertiary87: #fecce6;
  --md-ref-palette-tertiary90: #ffd8eb;
  --md-ref-palette-tertiary92: #ffe0ef;
  --md-ref-palette-tertiary94: #ffe8f2;
  --md-ref-palette-tertiary95: #ffecf3;
  --md-ref-palette-tertiary96: #fff0f5;
  --md-ref-palette-tertiary98: #fff8f8;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0e0e11;
  --md-ref-palette-neutral5: #111114;
  --md-ref-palette-neutral6: #131316;
  --md-ref-palette-neutral10: #1c1b1f;
  --md-ref-palette-neutral12: #201f23;
  --md-ref-palette-neutral17: #2a292d;
  --md-ref-palette-neutral20: #313034;
  --md-ref-palette-neutral22: #353438;
  --md-ref-palette-neutral24: #3a393c;
  --md-ref-palette-neutral25: #3c3b3f;
  --md-ref-palette-neutral30: #47464a;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #5f5e62;
  --md-ref-palette-neutral50: #78767a;
  --md-ref-palette-neutral60: #929094;
  --md-ref-palette-neutral70: #adaaaf;
  --md-ref-palette-neutral80: #c8c5ca;
  --md-ref-palette-neutral87: #dcd9de;
  --md-ref-palette-neutral90: #e5e1e6;
  --md-ref-palette-neutral92: #ebe7ec;
  --md-ref-palette-neutral94: #f0edf1;
  --md-ref-palette-neutral95: #f3eff4;
  --md-ref-palette-neutral96: #f6f2f7;
  --md-ref-palette-neutral98: #fcf8fd;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0e0d15;
  --md-ref-palette-neutral-variant5: #101018;
  --md-ref-palette-neutral-variant6: #13131a;
  --md-ref-palette-neutral-variant10: #1b1b23;
  --md-ref-palette-neutral-variant12: #1f1f27;
  --md-ref-palette-neutral-variant17: #2a2931;
  --md-ref-palette-neutral-variant20: #303038;
  --md-ref-palette-neutral-variant22: #34343c;
  --md-ref-palette-neutral-variant24: #393841;
  --md-ref-palette-neutral-variant25: #3b3a43;
  --md-ref-palette-neutral-variant30: #47464f;
  --md-ref-palette-neutral-variant35: #52515b;
  --md-ref-palette-neutral-variant40: #5e5d67;
  --md-ref-palette-neutral-variant50: #777680;
  --md-ref-palette-neutral-variant60: #918f9a;
  --md-ref-palette-neutral-variant70: #acaab4;
  --md-ref-palette-neutral-variant80: #c8c5d0;
  --md-ref-palette-neutral-variant87: #dbd8e3;
  --md-ref-palette-neutral-variant90: #e4e1ec;
  --md-ref-palette-neutral-variant92: #eae6f2;
  --md-ref-palette-neutral-variant94: #f0ecf7;
  --md-ref-palette-neutral-variant95: #f2effa;
  --md-ref-palette-neutral-variant96: #f5f2fd;
  --md-ref-palette-neutral-variant98: #fcf8ff;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #5555a9;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #e2dfff;
  --md-sys-color-on-primary-container-light: #0d0664;
  --md-sys-color-primary-fixed-light: #e2dfff;
  --md-sys-color-on-primary-fixed-light: #0d0664;
  --md-sys-color-primary-fixed-dim-light: #c1c1ff;
  --md-sys-color-on-primary-fixed-variant-light: #3c3c8f;
  --md-sys-color-secondary-light: #5d5c72;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e2e0f9;
  --md-sys-color-on-secondary-container-light: #1a1a2c;
  --md-sys-color-secondary-fixed-light: #e2e0f9;
  --md-sys-color-on-secondary-fixed-light: #1a1a2c;
  --md-sys-color-secondary-fixed-dim-light: #c6c4dd;
  --md-sys-color-on-secondary-fixed-variant-light: #454559;
  --md-sys-color-tertiary-light: #795369;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd8eb;
  --md-sys-color-on-tertiary-container-light: #2f1124;
  --md-sys-color-tertiary-fixed-light: #ffd8eb;
  --md-sys-color-on-tertiary-fixed-light: #2f1124;
  --md-sys-color-tertiary-fixed-dim-light: #e9b9d3;
  --md-sys-color-on-tertiary-fixed-variant-light: #5f3c51;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1c1b1f;
  --md-sys-color-outline-light: #777680;
  --md-sys-color-inverse-on-surface-light: #f3eff4;
  --md-sys-color-inverse-surface-light: #313034;
  --md-sys-color-inverse-primary-light: #c1c1ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #5555a9;
  --md-sys-color-outline-variant-light: #c8c5d0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fcf8fd;
  --md-sys-color-on-surface-light: #1c1b1f;
  --md-sys-color-surface-variant-light: #e4e1ec;
  --md-sys-color-on-surface-variant-light: #47464f;
  --md-sys-color-surface-container-highest-light: #e5e1e6;
  --md-sys-color-surface-container-high-light: #ebe7ec;
  --md-sys-color-surface-container-light: #f0edf1;
  --md-sys-color-surface-container-low-light: #f6f2f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dcd9de;
  --md-sys-color-surface-bright-light: #fcf8fd;
  /* dark */
  --md-sys-color-primary-dark: #c1c1ff;
  --md-sys-color-on-primary-dark: #252477;
  --md-sys-color-primary-container-dark: #3c3c8f;
  --md-sys-color-on-primary-container-dark: #e2dfff;
  --md-sys-color-primary-fixed-dark: #e2dfff;
  --md-sys-color-on-primary-fixed-dark: #0d0664;
  --md-sys-color-primary-fixed-dim-dark: #c1c1ff;
  --md-sys-color-on-primary-fixed-variant-dark: #3c3c8f;
  --md-sys-color-secondary-dark: #c6c4dd;
  --md-sys-color-on-secondary-dark: #2f2f42;
  --md-sys-color-secondary-container-dark: #454559;
  --md-sys-color-on-secondary-container-dark: #e2e0f9;
  --md-sys-color-secondary-fixed-dark: #e2e0f9;
  --md-sys-color-on-secondary-fixed-dark: #1a1a2c;
  --md-sys-color-secondary-fixed-dim-dark: #c6c4dd;
  --md-sys-color-on-secondary-fixed-variant-dark: #454559;
  --md-sys-color-tertiary-dark: #e9b9d3;
  --md-sys-color-on-tertiary-dark: #46263a;
  --md-sys-color-tertiary-container-dark: #5f3c51;
  --md-sys-color-on-tertiary-container-dark: #ffd8eb;
  --md-sys-color-tertiary-fixed-dark: #ffd8eb;
  --md-sys-color-on-tertiary-fixed-dark: #2f1124;
  --md-sys-color-tertiary-fixed-dim-dark: #e9b9d3;
  --md-sys-color-on-tertiary-fixed-variant-dark: #5f3c51;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1c1b1f;
  --md-sys-color-on-background-dark: #e5e1e6;
  --md-sys-color-outline-dark: #918f9a;
  --md-sys-color-inverse-on-surface-dark: #1c1b1f;
  --md-sys-color-inverse-surface-dark: #e5e1e6;
  --md-sys-color-inverse-primary-dark: #5555a9;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #c1c1ff;
  --md-sys-color-outline-variant-dark: #47464f;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #131316;
  --md-sys-color-on-surface-dark: #c8c5ca;
  --md-sys-color-surface-variant-dark: #47464f;
  --md-sys-color-on-surface-variant-dark: #c8c5d0;
  --md-sys-color-surface-container-highest-dark: #353438;
  --md-sys-color-surface-container-high-dark: #2a292d;
  --md-sys-color-surface-container-dark: #201f23;
  --md-sys-color-surface-container-low-dark: #1c1b1f;
  --md-sys-color-surface-container-lowest-dark: #0e0e11;
  --md-sys-color-surface-dim-dark: #131316;
  --md-sys-color-surface-bright-dark: #3a393c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
