@import "colors-waybar.css";

label#cpu,
label#disk,
label#temperature,
label#memory
label#network {
  background-color: @background;
}

#memory,
#cpu,
#disk,
#temperature,
#network,
#mode,
#idle_inhibitor {
  padding: 0 0px;
  color: @on-background;
  font-size: 14px;
}

#network.ethernet {
  color: @pastel-green;
}

#window {
  margin: 0 0px;
  border-radius: 0px;
  background-color: @background;
}

#cpu {
  color: @primary;
}

#memory {
  color: @primary;
}

#network {
  color: @on-background;
}

#network.disconnected {
  color: @secondary;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
