@import "colors-waybar.css";

#workspaces label {
  font-size: 17px;
  margin-left: 3px;
  margin-right: 3px;
}

box#workspaces {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 13px;
  background-color: @secondary-container;
}

#workspaces button {
  color: alpha(@on-secondary-container, 0.45);
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px @secondary-container;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 10px;
}

#workspaces button:hover {
  /* cursor: pointer; */
  background: alpha(@background, 0.15);
  box-shadow: inset 0 -3px @primary;
}

#workspaces button.focused {
  color: @primary;
}

#workspaces button.active {
  color: @primary;
}

#workspaces button.urgent {
  background-color: @red;
}
