@import "../colors-waybar.css";

#custom-launcher {
  background-color: @background;
}

label#custom-launcher {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-right: 5px;
  padding-left: 5px;
  color: @primary;
  background-color: @background;
}
